@font-face {
    font-family: OpenSans-reg;
    // src: url(~@/assets/fonts/OpenSans/);
    src:url('../../fonts/OpenSans/OpenSans-Regular.ttf')
}
@font-face {
    font-family: OpenSans-bold;
    // src: url(~@/assets/fonts/OpenSans/);
    src:url('../../fonts/OpenSans/OpenSans-Bold.ttf')
}
@font-face {
    font-family: Raleway-reg;
    // src: url(~@/assets/fonts/OpenSans/);
    src:url('../../fonts/Raleway/static/Raleway-Regular.ttf')
}
@font-face {
    font-family: Raleway-bold;
    // src: url(~@/assets/fonts/OpenSans/);
    src:url('../../fonts/Raleway/static/Raleway-Bold.ttf')
}
@font-face {
    font-family: fa;
    src: url('../../fonts/fa/fa-brands-400.ttf');
}

