// COLOR PALLETAS
$clr1: #0b1524;
$clr2: #181f2b;
$clr3: #202a3c;
$clr4: #1b2330;
$clr5: #c0c0c0;
$clr6: #ffffff;

// secondary clrs
$secondary-clr1: #62e0d9;
$secondary-clr2: #dfe4f0;

// PADDING VAR
$layout-padding: 20px;

/* screen sizes */
$break-l: 1440px;
$break-m: 960px;
$break-s: 375px;

// SCREEN SIZES WITH PADDING
$break-l-padded: $break-l + $layout-padding * 2;
$break-m-padded: $break-m + $layout-padding * 2;
$break-s-padded: $break-s + $layout-padding * 2;
