.main-layout {
  display: grid;
  grid-template-columns: 80px 1fr 80px;

  > * {
    grid-column: 2;

    &.full {
      grid-column: 1/-1;
    }
  }

  @include for-mobile-layout{
    grid-template-columns: gtcLayout(20px,$break-s);
  }

  // @include for-normal-layout{
  //   grid-template-columns: gtcLayout($break-m);
  // }

  // @include for-wide-layout{
  //   grid-template-columns: gtcLayout($break-l);
  // }
}

.total-app-container.main-layout{
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
}
